# Python
__pycache__/

# jupyter
.ipynb_checkpoints

data/*
!data/cleaned
!data/preprocessed
!data/raw
.git
.vscode

models/checkpoints/*

*.csv

wandb/

models/trained/*
plots/*

models/autoencoder/*